<div class="centerBlock">

    <div class="block1">
        <div class="greenBlock">
            <p>Zeiterfassungsprogramm</p>
        </div>
        <div class="headerBlock">
            <p>Einstellung | Login</p>
        </div>
    </div>
    <div class="block2">

        <div class="startTime">
            <button> <p>Zeit starten</p></button>
        </div>
        <div class="stopTime">
            <button><p>Zeit stoppen</p></button>
        </div>
    </div>
    <div class="block3">
        <div class="Tag">
            Tag
        </div>
        <div class="Monat">
            Monat
        </div>
        <div class="Jahr">
            Jahr
        </div>

        <div class="aktivität">Aktivität/Krankmeldungen/Ferien

        </div>
        <div class="datum">Datum
        </div>
        <div class="fehlstunden">Fehlstunden</div>
    </div>

</div>

<div class="Block5">
    <div class="abmeldung">
        <div class="grund">
            Krankmeldung
            <div class="TMJ">
                11.12.2021
                <div class="hours">
                    8H
                </div>
            </div>
        </div>
    </div>
    <div class="abmeldung">
        <div class="grund">
            Krankmeldung
            <div class="TMJ">
                11.12.2021
                <div class="hours">
                    8H
                </div>
            </div>
        </div>
    </div>
    <div class="abmeldung">
        <div class="grund">
            Krankmeldung
            <div class="TMJ">
                11.12.2021
                <div class="hours">
                    8H
                </div>
            </div>
        </div>
    </div>
    <div class="abmeldung">
        <div class="grund">
            Krankmeldung
            <div class="TMJ">
                11.12.2021
                <div class="hours">
                    8H
                </div>
            </div>
        </div>
    </div>
    <div class="abmeldung">
        <div class="grund">
            Krankmeldung
            <div class="TMJ">
                11.12.2021
                <div class="hours">
                    8H
                </div>
            </div>
        </div>
    </div>
    <div class="kalender">

        <div class="currentyear">2021</div>
        <div class="kw">
            <p>KW 01</p>
            <div class=" stunden">
                <p>8.4 Stunden</p>
            </div>
        </div>
        <div class="kw ">
            <p>KW 02</p>
            <div class="stunden">
                <p>8.4 Stunden</p>
            </div>
        </div>
        <div class="kw ">
            <p>KW 03</p>
            <div class="stunden">
                <p>8.4 Stunden</p>
            </div>
        </div>
        <div class="kw ">
            <p>KW 04</p>
            <div class="stunden">
                <p>8.4 Stunden</p>
            </div>
        </div>
        <div class="kw ">
            <p>KW 05</p>
            <div class="stunden">
                <p>8.4 Stunden</p>
            </div>
        </div>
        <div class="kw ">
            <p>KW 06</p>
            <div class="stunden">
                <p>8.4 Stunden</p>
            </div>

        </div>

    </div>

</div>
X